
@{
    ViewBag.Title = "ChangePassword";
}


<div class="box box-primary">
    <div class="box-body" style="background-color: #ecf0f5; ">
        <div class="login-box">
            <div class="login-box-body" style="border: 1px #000000;border-radius: 5px;">
                @{
                    var userAccount = Converter.CookiesToUserAccount(User.Identity.Name);
                }
                <p class="login-box-msg">
                    Thay đổi mật khẩu cho nhân viên
                    <br />
                    <b>@userAccount.FullName</b>
                </p>
                @Html.ValidationSummary("", new { @style = "color: #f00; list-style: none; text-align: center" })
                <form action="~/Account/ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="userName" value="@userAccount.UserName" />
                    <div class="form-group has-feedback">
                        <input type="password" name="oldPassword" class="form-control"
                               value="@ViewBag.OldPassword" placeholder="Mật khẩu hiện tại" autofocus="autofocus">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="newPassword" class="form-control" placeholder="Mật khẩu mới">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <!-- /.col -->
                            <button type="submit" class="btn btn-primary">Thay đổi</button>
                            @*<div class="col-xs-2">
                                </div>*@
                            <a href="~/" class="btn btn-default">Quay lại</a>
                            @*<div class="col-xs-2">
                                </div>*@
                            <!-- /.col -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var input = $("input[autofocus=autofocus]");
            var len = input.val().length;
            input[0].focus();
            input[0].setSelectionRange(len, len);
        })
    </script>
}