@model _20T1080068.Web.Models.SupplierSearchOutput
@{ 
    Layout = null;
}
@*Kết quả tìm kiếm*@
<p style="margin-top: 10px; text-align: center; color: green;">
    Có <strong>@Model.RowCount</strong> nhà cung cấp trong tổng số <b>@Model.PageCount</b> trang
</p>

@*Bảng hiển thị kết quả*@
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-success">
            <tr>
                <th>Tên nhà cung cấp</th>
                <th>Tên giao dịch</th>
                <th>Địa chỉ</th>
                <th>Điện thoại</th>
                <th>Quốc gia</th>
                <th>Thành phố</th>
                <th>Mã bưu chính</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.SupplierName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td>
                        @*Nút sửa dữ liệu*@
                        <a href="~/Supplier/Edit/@item.SupplierID" class="btn btn-xs btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        @*Nút xoá dữ liệu*@
                        <a href="~/Supplier/Delete/@item.SupplierID" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Phân trang*@
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a>@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>

            }
        }
    </ul>
</div>