@model _20T1080068.DomainModels.Custommer
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Custommer/Save" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="CustommerID" value="@Model.CustommerID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CustommerName, new { @class = "form-control", @autofocus = "true" })
                    @Html.ValidationMessageFor(m => m.CustommerName, "", new { @style = "color: #f00;" })
                    @*<input type="text" class="form-control" name="CustomerName" value="@Model.CustomerName" placeholder="" autofocus>*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên liên hệ:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @style = "color: #f00;" })
                    @*<input type="text" class="form-control" name="ContactName" value="@Model.ContactName" placeholder="">*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ email:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control" })
                    @*<input type="email" class="form-control" name="Email" value="@Model.Email" placeholder="">*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Country, _20T1080068.Web.Codes.SelectListHelper.countries(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @style = "color: #f00;" })
                    @*<select class="form-control" name="Country">
                            <option>--- Chọn quốc gia ---</option>
                            @foreach (var item in _20T1080009.BusinessLayers.CommonDataService.ListOfCountries()) {
                                if (item.CountryName == Model.Country) {
                                    <option value="@item.CountryName" selected>@item.CountryName</option>
                                } else {
                                    <option value="@item.CountryName">@item.CountryName</option>
                                }
                            }
                        </select>*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tỉnh/Thành phố:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @*<input type="text" class="form-control" name="City" value="@Model.City" placeholder="">*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @*<input type="text" class="form-control" name="Address" value="@Model.Address" placeholder="">*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính: </label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @*<input type="text" class="form-control" name="PostalCode" value="@Model.PostalCode" placeholder="">*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-right">

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save" style="margin-right: 2px;"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Customer" class="btn btn-default">
                        Quay lại
                    </a>

                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var input = $("input[autofocus=true]");
            var len = input.val().length;
            input[0].focus();
            input[0].setSelectionRange(len, len);
        })
    </script>
}